@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: white;
}
.headings{
    color: white;
    text-align: center;
    font-family: 'roboto';
}
.img-1{
    text-align: center;
}
p{
    color: white;
    text-align: center;
    font-family: 'roboto';
}
h3{
    color: white;
    text-align: center;
    font-family: 'roboto';
}