:root {
    --bg-color: white;
    --text-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: background 0.3s, color 0.3s;
}

textarea {
    background-color: black;
    color: white;
}

input {
    border-radius: 20px;
}

button {
    cursor: pointer;
}

.dark-mode {
    --bg-color: black;
    --text-color: white;
}

.main {
    text-align: center;
}

